absl-py==0.11.0
alibi==0.6.1
appnope==0.1.0
argon2-cffi==21.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
backcall==0.1.0
bleach==4.1.0
blis==0.7.5
cached-property==1.5.2
cachetools==4.2.4
catalogue==2.0.6
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
clang==5.0
click==7.1.2
cloudpickle==1.2.2
contextvars==2.4
cycler==0.10.0
cymem==2.0.6
dataclasses==0.6
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.4
entrypoints==0.3
filelock==3.3.2
flatbuffers==1.12
future==0.18.2
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.13.2
grpcio==1.41.1
gym==0.15.4
h5py==3.1.0
huggingface-hub==0.1.1
idna==3.3
imageio==2.10.2
immutables==0.16
importlib-metadata==3.1.0
ipdb==0.13.4
ipykernel==5.5.6
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
javapackages==4.3.2
jedi==0.16.0
Jinja2==3.0.2
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
langcodes==3.2.1
Markdown==3.3.3
MarkupSafe==2.0.1
matplotlib==3.2.1
mistune==0.8.4
mpmath==1.1.0
murmurhash==1.0.6
mypy-extensions==0.4.3
nbclient==0.5.4
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.4.5
numpy==1.19.4
oauthlib==3.1.1
opencv-python==4.4.0.46
opt-einsum==3.3.0
packaging==21.2
pandas==1.0.3
pandocfilters==1.5.0
parso==0.6.2
pathy==0.6.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
preshed==3.0.6
prometheus-client==0.12.0
prompt-toolkit==3.0.5
protobuf==3.14.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pyglet==1.5.0
Pygments==2.6.1
pyparsing==2.4.6
pyrsistent==0.18.0
PySMT==0.8.0
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
PyXB==1.2.4
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.1.1
QtPy==1.11.2
regex==2021.11.2
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
sacremoses==0.0.46
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.10.0
Send2Trash==1.8.0
six==1.15.0
smart-open==5.2.1
spacy==3.2.0
spacy-legacy==3.0.8
spacy-loggers==1.0.1
spacy-lookups-data==1.0.3
srsly==2.4.2
statsmodels==0.12.1
sympy==1.7
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.2
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
thinc==8.0.13
threadpoolctl==2.1.0
tifffile==2020.9.3
tokenizers==0.10.3
torch==1.7.0
torchvision==0.8.1
tornado==6.1
tqdm==4.44.1
traitlets==4.3.3
transformers==4.12.3
typed-ast==1.4.3
typer==0.4.0
typing-extensions==3.7.4.3
urllib3==1.26.7
wasabi==0.8.2
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.2
wrapt==1.12.1
zipp==3.4.0
